.movie_title_container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.movie_title_container p {
  font-family: var(--font-poppins);
  font-weight: bold;
  padding: 3% 0%;
}

.show_more_arrow {
  border: none;
  background-color: transparent;
  &:hover {
    color: red;
  }
}

@media screen and (max-width: 370px) {
  .movie_title_container {
    width: 90%;
  }
  .show_more_arrow {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 371px) and (max-width: 576px) {
  .movie_title_container {
    width: 90%;
  }
  .show_more_arrow {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .movie_title_container {
    width: 90%;
  }
  .movie_title_container p {
    padding: 2% 0%;
  }
  .show_more_arrow {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .movie_title_container {
    width: 80%;
  }
  .movie_title_container p {
    padding: 2% 0%;
  }
  .show_more_arrow {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .movie_title_container {
    width: 80%;
  }
  .movie_title_container p {
    padding: 2% 0%;
  }
  .show_more_arrow {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1400px) {
  .movie_title_container {
    width: 80%;
  }
  .show_more_arrow {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .movie_title_container {
    width: 80%;
  }
  .movie_title_container p {
    padding: 2% 0%;
  }
  .show_more_arrow {
    font-size: 3rem;
  }
}
