.watching_movie_details {
  background-color: #f3f3f3;
  width: 80%;
  margin: 3% auto;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 2%;
  font-family: var(--font-poppins);
}

.watching_movie_details img {
  width: 100%;
  height: 100%;
}

.movie_rating_details {
  padding: 5px 0px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  & span {
    font-size: 1.2rem;
    height: 1.2rem;
  }
}

.movie_type {
  border: 1px solid grey;
  width: 80%;
  margin: left;
  text-align: center;
}

.movie_description {
  text-align: justify;
  padding: 10px 10px 10px 0px;
}

td {
  padding: 4px 0px;
  text-align: right;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
td:nth-child(even) {
  text-align: left;
  padding-left: 2%;
}

td:nth-child(odd) {
  width: 25%;
}

@media screen and (max-width: 370px) {
  .watching_movie_details {
    width: 90%;
    gap: 3%;
  }
  .watching_movie_details img {
    width: 100%;
  }

  .movie_rating_details {
    & span {
      font-size: 0.75rem;
      height: 0.75rem;
      vertical-align: middle;
    }
  }

  tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  td:nth-child(odd) {
    width: 60%;
  }
}

@media screen and (min-width: 371px) and (max-width: 576px) {
  .watching_movie_details {
    width: 90%;
    gap: 3%;
  }
  .watching_movie_details img {
    width: 100%;
  }

  .movie_rating_details {
    & span {
      font-size: 0.875rem;
      height: 0.875rem;
      vertical-align: middle;
    }
  }

  tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  td:nth-child(odd) {
    width: 35%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .watching_movie_details {
    width: 90%;
    gap: 3%;
  }
  .watching_movie_details img {
    width: 100%;
  }

  .movie_rating_details {
    & span {
      font-size: 0.875rem;
      height: 0.875rem;
      vertical-align: middle;
    }
  }

  tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  td:nth-child(odd) {
    width: 25%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .watching_movie_details {
    width: 90%;
    gap: 3%;
  }
  .watching_movie_details img {
    width: 100%;
  }

  .movie_rating_details {
    & span {
      font-size: 1rem;
      height: 1rem;
      vertical-align: middle;
    }
  }

  tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  td:nth-child(odd) {
    width: 25%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .watching_movie_details {
    width: 80%;
    gap: 3%;
  }
  .watching_movie_details img {
    width: 100%;
  }

  .movie_rating_details {
    & span {
      font-size: 1.125rem;
      height: 1.125rem;
      vertical-align: middle;
    }
  }

  tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  td:nth-child(odd) {
    width: 25%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1400px) {
  .movie_rating_details {
    & span {
      font-size: 1.25rem;
      height: 1.25rem;
      vertical-align: middle;
    }
  }
}

@media screen and (min-width: 1401px) {
  .movie_rating_details {
    & span {
      font-size: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
    }
  }
}
